.demo__animate {
  background: #ddd;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
}
.demo__animate__fade {
  @include transition(opacity, 0.3s, ease-out);

  &:hover {
    opacity: 0;
  }
}
.demo__animate__move {
  position: relative;
}
.demo__animate__move {
  position: relative;
  .demo-shape {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20px;
    background: gray;
    @include transition(all, 0.8s, ease-in-out);
  }
  &:hover > .demo-shape {
    left: 100%;
    margin-left: -20px;
  }  
}
