<div class="{{animations.class}} {{animations.versions.fade.class}}"><strong>Fade:</strong> Duration: 0.3s Easing: ease-out (Hover to see effect)</div>

<div class="{{animations.class}} {{animations.versions.move.class}}"><div class="demo-shape"></div><strong>Movement:</strong> Duration: 0.8s  Easing: ease-in-out; (Hover to see effect)</div>