<div class="{{articleBody.class}}">
  {% for paragraph in articleBody.paragraphs %}
    <p class="{{paragraph.class}}">{{ paragraph.text | raw }}</p>
  {% endfor %}

  {% include 'atoms-img' with {img: articleBody.image} %}

  {% include 'atoms-unordered' with {ul: articleBody.ul} %}

  {% include 'atoms-ordered' with {ol: articleBody.ol} %}

  {% include 'atoms-blockquote' with {blockquote: articleBody.blockquote} %}


</div>
