<!-- PATTERN START - /pattern-library/patterns/components/message -->
<div class="{{message.class}}">
	<div class="{{message.content.class}}">{{message.content.message}}</div>
</div>
<!-- PATTERN END - /pattern-library/patterns/components/message -->
