
.colors__color1 {
	background-color: red;
}
.colors__color2 {
	background-color: green;
}
.colors__color3 {
	background-color: blue;
}
.colors__color4 {
	background-color: yellow;
}
.colors__color5 {
	background-color: aqua;
}
.colors__color6 {
	background-color: purple;
}
.colors__color7 {
	background-color: white;
}
.colors__color8 {
	background-color: gray;
}
.colors__color9 {
	background-color: black;
}