<div class="{{teaser.class}}">
  
  <div class="{{teaser.container.class}}">
  
    {% for promo in teaser.teasers %}

      {% include 'molecules/components/promo/promo.twig' %}

    {% endfor %}
    
  </div>
  
</div>