<div class="{{teaser.class}}">

  <div class="{{teaser.container.class}}">

    {% for teaser in teaser.teasers %}

      {% include 'molecules-promo' with {'promo': teaser} %}

    {% endfor %}

  </div>

</div>
