<div class="{{teaser.class}}">
  
  <div class="{{teaser.container.class}}">
  
    {% for teaser in teaser.teasers %}

      {% include 'molecules/components/promo/promo.twig' with {'promo': teaser} %}

    {% endfor %}
    
  </div>
  
</div>