<div class="{{hero.class}}">
  
  <div class="{{hero.container.class}}">
  
    {% for promo in hero.heros %}

      {% include 'molecules/components/promo/promo.twig' %}

    {% endfor %}
    
  </div>
  
</div>