<div class="{{hero.class}}">

  <div class="{{hero.container.class}}">

    {% for hero in hero.heros %}

      {% include 'molecules-promo' with {'promo': hero} %}

    {% endfor %}

  </div>

</div>
