
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}


  <!-- NPM PATTERN JAVASCRIPT FILES -->

  <!-- base html patterns: pattern-library -->
  <!-- inject:npm:base:js -->
  <!-- endinjectnpmbase -->

  <!-- SITEWIDE JAVASCRIPT FILES -->
  <!-- inject:sitefiles:js -->
  <!-- endinjectsite -->

  <!-- LOCAL PATTERN JAVASCRIPT FILES -->
  <!-- inject:local:js -->
  <!-- endinjectlocal -->

  </body>
</html>
