<p class="hide__small">This text is hidden on smaller screens</p>

<p class="hide__med hide__large"><em>This text is only visible on smaller screens</em></p>

<p class="hide__med">This text is hidden on medium screens only</p>

<p class="hide__small hide__large"><em>This text is only visible on medium screens</em></p>

<p class="hide__large">This text is hidden on large screens</p>

<p class="hide__small hide__med"><em>This text is only visible on large screens</em></p>